flow3.json
[
    {
        "id": "1447ad21f6838f65",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2319ce7c3fd6cb22",
        "type": "inject",
        "z": "1447ad21f6838f65",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Texto de prueba",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "001d591316ad2060"
            ]
        ]
    },
    {
        "id": "3eefad99ad446efa",
        "type": "inject",
        "z": "1447ad21f6838f65",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "e86e945e5e65cc82",
                "45857e211332b6d3"
            ]
        ]
    },
    {
        "id": "50c0217ff7da1747",
        "type": "inject",
        "z": "1447ad21f6838f65",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "45857e211332b6d3",
                "e86e945e5e65cc82"
            ]
        ]
    },
    {
        "id": "70b5b13cc30bd020",
        "type": "inject",
        "z": "1447ad21f6838f65",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "45857e211332b6d3",
                "e86e945e5e65cc82"
            ]
        ]
    },
    {
        "id": "001d591316ad2060",
        "type": "ui_text",
        "z": "1447ad21f6838f65",
        "group": "e648622ecda000a0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto de prueba - label",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "e86e945e5e65cc82",
        "type": "ui_gauge",
        "z": "1447ad21f6838f65",
        "name": "",
        "group": "979997242b3e61a4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "45857e211332b6d3",
        "type": "ui_chart",
        "z": "1447ad21f6838f65",
        "name": "",
        "group": "979997242b3e61a4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e648622ecda000a0",
        "type": "ui_group",
        "name": "Texto - Group 1",
        "tab": "e3bc305127285eb2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "979997242b3e61a4",
        "type": "ui_group",
        "name": "Graficos - Group 2",
        "tab": "e3bc305127285eb2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e3bc305127285eb2",
        "type": "ui_tab",
        "name": "Flow3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]